.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.topo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

.topo h2 {
  font-size: 20px;
  color: #444;
}

.voltar {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.capa img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.layout {
  display: flex;
  justify-content: center;
  gap: 35px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.coluna-esquerda {
  flex: 1;
  max-width: 650px;
}

.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 90px;
  height: fit-content;
}

.card-sidebar {
  background: #fff;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.card-sidebar h3 {
  margin-bottom: 6px;
  font-size: 16px;
  color: #444;
}

.card-sidebar p {
  font-size: 14px;
  color: #666;
}

.perfil {
  width: 100%;
  position: relative;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: -60px;
  left: 20px;
  background: #fff;
}

.perfil-topo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.editar {
  background: #ff9eb5;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}

.editar:hover {
  background: #ff7fa3;
}

.info {
  margin-top: 70px;
  padding: 10px 5px;
}

.info h1 {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.verificado {
  font-size: 16px;
  color: #1da1f2;
}

.usuario {
  color: #777;
  font-size: 14px;
}

.funcao {
  color: #555;
  font-size: 14px;
  margin-top: 5px;
}

.bio {
  margin-top: 8px;
  font-size: 15px;
  color: #333;
}

.entrada {
  color: #777;
  font-size: 13px;
  margin-top: 5px;
}

.estatisticas {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.estatisticas span {
  color: #555;
  font-size: 14px;
}

.estatisticas strong {
  color: #000;
}

.abas {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

.abas button {
  background: none;
  border: none;
  padding: 12px;
  font-weight: 500;
  cursor: pointer;
  color: #555;
  transition: 0.2s;
}

.abas button.ativo {
  color: #ff7fa3;
  border-bottom: 3px solid #ff9eb5;
}

.abas button:hover {
  color: #ff9eb5;
}

.publicacoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  padding-bottom: 50px;
}

.post {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
}

.post img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.post .conteudo {
  flex: 1;
}

.post .cabecalho h3 {
  font-size: 15px;
  color: #333;
}

.post .cabecalho span {
  color: #777;
  font-weight: 400;
  font-size: 13px;
}

.post p {
  margin-top: 4px;
  color: #444;
  font-size: 15px;
  line-height: 1.4;
}

.imagem-post {
  width: 100%;
  border-radius: 10px;
  margin-top: 8px;
}


footer {
  background: white;
  padding: 15px;
  text-align: center;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
  position: sticky;
  bottom: 0;
}

.acessibilidade button {
  background: none;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  transition: 0.3s;
}

.acessibilidade button:hover {
  color: #ff7fa3;
}

body.escuro {
  background: linear-gradient(135deg, #1C2630,#21283a, #322d46, #3f374e);
  color: #eee;
}

body.escuro .topo {
  background: #1d1d1d;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

body.escuro .card-sidebar {
  background: #1d1d1d;
  border: 1px solid #444;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

body.escuro .card-sidebar h3 {
  color: #f5f5f5;
}

body.escuro .card-sidebar p {
  color: #ccc;
}

body.escuro .capa img {
  filter: brightness(0.8);
}

body.escuro .foto-perfil {
  border: 4px solid #1d1d1d;
}

body.escuro .editar {
  background: #635172;
  color: #fff;
}

body.escuro .editar:hover {
  background: #7a658c;
}

body.escuro .info h1,
body.escuro .bio,
body.escuro .funcao {
  color: #eee;
}

body.escuro .usuario,
body.escuro .entrada {
  color: #bbb;
}

body.escuro .estatisticas {
  border-bottom: 1px solid #555;
}

body.escuro .estatisticas span {
  color: #ccc;
}

body.escuro .estatisticas strong {
  color: #fff;
}

body.escuro .abas {
  border-bottom: 1px solid #555;
}

body.escuro .abas button {
  color: #ccc;
}

body.escuro .abas button:hover {
  color: #a894b8;
}

body.escuro .abas button.ativo {
  color: #c3b0d3;
  border-bottom: 3px solid #635172;
}

body.escuro .post {
  border-bottom: 1px solid #555;
}

body.escuro .post .cabecalho h3 {
  color: #fff;
}

body.escuro .post p {
  color: #e5e5e5;
}

body.escuro footer {
  background: #1d1d1d;
  color: #fff;
}

body.escuro .acessibilidade button {
  color: #ddd;
}

body.escuro .acessibilidade button:hover {
  color: #a894b8;
}


body.alto-contraste {
  background: #000;
  color: #fff;
}

body.alto-contraste .topo {
  background: #000;
  color: yellow;
  border-bottom: 2px solid yellow;
}

body.alto-contraste .card-sidebar {
  background: #000;
  border: 2px solid yellow;
  color: yellow;
}

body.alto-contraste .card-sidebar h3 {
  color: yellow;
}

body.alto-contraste .card-sidebar p {
  color: white;
}

body.alto-contraste .post {
  border-bottom: 2px solid yellow;
}

body.alto-contraste .post h3,
body.alto-contraste .post p,
body.alto-contraste .post span {
  color: yellow;
}

body.alto-contraste .imagem-post {
  border: 2px solid yellow;
}

body.alto-contraste .foto-perfil {
  border: 4px solid yellow;
}

body.alto-contraste .editar {
  background: yellow;
  color: black;
  font-weight: bold;
}

body.alto-contraste .editar:hover {
  background: white;
}

body.alto-contraste .info h1,
body.alto-contraste .bio,
body.alto-contraste .funcao,
body.alto-contraste .estatisticas strong {
  color: yellow;
}

body.alto-contraste .usuario,
body.alto-contraste .entrada,
body.alto-contraste .estatisticas span {
  color: white;
}

body.alto-contraste .abas {
  border-bottom: 2px solid yellow;
}

body.alto-contraste .abas button {
  color: yellow;
}

body.alto-contraste .abas button.ativo {
  border-bottom: 3px solid yellow;
}

body.alto-contraste .abas button:hover {
  color: white;
}

body.alto-contraste footer {
  background: #000;
  color: yellow;
  border-top: 2px solid yellow;
}

body.alto-contraste .acessibilidade button {
  color: yellow;
}

body.alto-contraste .acessibilidade button:hover {
  color: white;
}


@media (max-width: 900px) {
  .layout {
    flex-direction: column;
    padding: 10px;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 600px) {
  .foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 4px solid #fff;
    position: absolute;
    top: -60px;
    left: 10px;
    background: #fff;
    z-index: 5;
  }

  .editar {
    padding: 6px 12px;
    font-size: 13px;
  }

  .abas button {
    font-size: 13px;
    padding: 10px;
  }

  .estatisticas {
    gap: 10px;
    font-size: 13px;
  }

  .post p {
    font-size: 14px;
  }
}

