.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


.fundo-animado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #fce1e4, #e1f2fb, #fef6e4, #ffe5d9);
  background-size: 400% 400%;
  animation: mover-gradiente 15s ease infinite;
  z-index: -1;
  overflow: hidden;
}

@keyframes mover-gradiente {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  padding: 20px;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  color: white;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0 2px 6px rgba(150, 170, 200, 0.4);
  cursor:default
}

.subtitulo {
  font-size: 20px;
  max-width: 600px;
  color: #555;
  margin-bottom: 40px;
}

.scroll-btn {
  text-decoration: none;
  color: #ff7fa3;
  font-weight: 500;
  border: 2px solid #ff9eb5;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.3s;
}

.scroll-btn:hover {
  background: #ff9eb5;
  color: white;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  gap: 80px;
  min-height: auto;
}


.bloco {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  flex-wrap: wrap;
  text-align: left;
}

.bloco.impar {
  flex-direction: row;
}

.bloco.par {
  flex-direction: row-reverse;
  text-align: right;
}

.bonecos {
  width: 220px;
  transition: transform 0.4s ease;
  filter: drop-shadow(0 4px 8px rgba(150, 170, 200, 0.5));
  cursor: pointer;
}

.bonecos:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 6px 12px rgba(150, 170, 200, 0.6));
}


.bonecos:hover {
  transform: translateY(-12px);
}

.bloco p {
  max-width: 420px;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  background: rgba(255, 255, 255, 0.6);
  padding: 18px 25px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.final {
  display: flex;
  justify-content: center;
  padding: 100px 0 80px 0;
}

.botao-entre {
  text-decoration: none;
  background: #ff9eb5;
  color: white;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 18px;
  transition: 0.3s;
}

.botao-entre:hover {
  background: #ff7fa3;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .titulo { font-size: 48px; }
  .bloco {
    flex-direction: column !important;
    text-align: center !important;
  }
  .boneco {
    width: 150px;
  }
  .bloco p {
    font-size: 16px;
  }
}

